[submodule "nzbgetrpc"]
	path = nzbgetrpc
	url = https://github.com/Cpasjuste/NZBGetRPC.git
[submodule "autility"]
	path = autility
	url = https://github.com/Cpasjuste/autility.git
[submodule "app/src/main/jni/nzbget"]
	path = app/src/main/jni/nzbget
	url = https://github.com/nzbget/nzbget.git
[submodule "app/src/main/jni/openssl"]
	path = app/src/main/jni/openssl
	url = https://github.com/emileb/OpenSSL-for-Android-Prebuilt.git
